ASPNETCORE_ENVIRONMENT=Development

WEB_PORT=8088
POSTGRES_PORT=5433
PROMETHEUS_PORT=9091
POSTGRES_EXPORTER_PORT=9188
BLACKBOX_EXPORTER_PORT=9116
GRAFANA_PORT=3001

POSTGRES_HOST=postgres
POSTGRES_INTERNAL_PORT=5432
POSTGRES_DB=devlog
POSTGRES_USER=devlog
POSTGRES_PASSWORD=change-me

ADMIN_USERNAME=admin
ADMIN_PASSWORD=change-me

GRAFANA_ADMIN_USER=admin
GRAFANA_ADMIN_PASSWORD=change-me

POSTGRES_IMAGE_TAG=16-alpine
PROMETHEUS_IMAGE_TAG=v2.54.1
POSTGRES_EXPORTER_IMAGE_TAG=v0.15.0
BLACKBOX_EXPORTER_IMAGE_TAG=v0.25.0
GRAFANA_IMAGE_TAG=11.1.0
